################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppSimplicity.MVC/AppSimplicity.MVC/bin
/AppSimplicity.MVC/packages
/AppSimplicity.MVC/AppSimplicity.MVC.ImplementationTest/obj
/AppSimplicity.MVC/AppSimplicity.MVC.ImplementationTest/bin
/AppSimplicity.MVC/AppSimplicity.MVC/obj
/AppSimplicity.MVC/AppSimplicity.MVC.Tests/bin/Release
/AppSimplicity.MVC/AppSimplicity.MVC.Tests/obj
/AppSimplicity.MVC/AppSimplicity.MVC/AppSimplicity.MVC.1.2.nupkg
/AppSimplicity.MVC/AppSimplicity.MVC/AppSimplicity.MVC.1.1.2.nupkg
