################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppSimplicity.MVC/AppSimplicity.MVC/bin
