<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppSimplicity.MVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AppSimplicity.MVC.Properties.Settings>
            <setting name="DateHandlerProvider" serializeAs="String">
                <value>AppSimplicity.MVC.Localization.DefaultDateHandler, AppSimplicity.MVC</value>
            </setting>
            <setting name="ViewLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>~/Views/{1}/{0}.cshtml</string>
                        <string>~/Views/{1}/Default/{0}.cshtml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PartialViewLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>~/Views/{1}/{0}_.cshtml</string>
                        <string>~/Views/{1}/Default/{0}_.cshtml</string>
                        <string>~/Views/Shared/{0}_.cshtml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SitemapLocation" serializeAs="String">
                <value>~/assets/navigation/sitemap.{0}.xml</value>
            </setting>
            <setting name="NavigationProvider" serializeAs="String">
                <value>AppSimplicity.MVC.Navigation.DefaultMenuLoader, AppSimplicity.MVC</value>
            </setting>
            <setting name="UseCultureForDateFormatting" serializeAs="String">
                <value>False</value>
            </setting>
        </AppSimplicity.MVC.Properties.Settings>
    </applicationSettings>
</configuration>